@using CarRentingSystemMVC.Models.Car;
@model ContactFormModel

@{
    ViewData["Title"] = "Contact Us";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form asp-controller="Contact" asp-action="ContactUs" method="post" class="bg-dark bg-opacity-75 p-4 mt-5">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Subject" class="text-white">Subject:</label>
                            <input asp-for="Subject" class="form-control" placeholder="Your Subject">
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="EmailAddress" class="text-white">Email:</label>
                            <input asp-for="EmailAddress" class="form-control" placeholder="Your Email">
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label asp-for="Message" class="text-white">Message:</label>
                            <textarea asp-for="Message" class="form-control" rows="5" placeholder="Your Message"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                
                <div class="d-grid">
                    <button type="submit" class="btn btn-success">Send <i class="fa-regular fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

@section CustomCss {
    <style>
        textarea {
            resize: none;
        }
    </style>
}