<div class="container">
    <div class="bg-dark bg-opacity-75 p-4 text-center">
        <h1 class="text-center text-white display-3">Your form was submitted successfully!</h1>
        <p class="text-center text-white display-6">Thank you!</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-success text-center">HOME <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
</div>

